<p id="category">
    전시회리뷰
</p>

<hr>

<% @exhibitions.each do |exhibition| %>
  <div class="row">
    <p class="col-md-1 catalogue catalogue-title">
      <%= exhibition.id %>
    </p>
    <p class="col catalogue">
      <%= link_to exhibition.title, exhibition, class: "col" %>
    </p>
  </div>
  <hr>
<% end %>

<br>

<div class="container row">
  <%= link_to '새 리뷰 작성하기', new_exhibition_path, style: "margin-top:5px;" %>

  <div class="ml-auto">
    <%= form_tag search_exhibitions_path, method: :get, role: "search" do %>
      <div class="row">
        <%= text_field_tag :search, params[:search], class: "ml-auto", id: "search_form" %>
        <%= image_submit_tag("search.png", id:"search_image")%>
      </div>
    <% end %>
  </div>
</div>
